.products {
    margin-top: 1.5rem;
    color: black;
    width: calc(100% - 4rem);
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.products div:nth-child(2n) {
    box-shadow: 1px 2px 10px var(--color-yellow);
}
.products div:nth-child(2n+1) {
    box-shadow: 1px 2px 10px var(--color-blue);
}
.products svg, .products .error {
    margin-inline: auto;
}