.nav-link:nth-child(n + 2) {
  text-decoration: none;
  color: aliceblue;
  padding: 2.5%;
  border: solid var(--color-blue) 2px;
  white-space: nowrap;
  margin: 0;
}
.nav-link:nth-child(n + 2):hover {
  background: linear-gradient(transparent, var(--color-blue));
}
.nav-link:nth-child(n + 3) {
  border-left: none;
}
.nav-cart__span {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  background: var(--color-yellow);
  border-radius: 40%;
  padding: 0 .3em;
}
.header {
  margin-right: auto;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
  max-height: 2rem;
}
.header h2{
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    var(--color-blue) 0%,
    var(--color-yellow) 80%
  );
  background-clip: text;
  color: transparent;
}
.header h2::after {
  content: '';
  background-image: url('https://cdn-icons-png.flaticon.com/512/2395/2395608.png');
  background-size: 100% 100%;
  display: inline-block;
  height: 2rem;
  aspect-ratio: 1 / 1;
  margin-left: 0.5rem;
}
.nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: calc(100% - 4rem);
  margin-inline: auto;
}
/* MOBILE */
.nav-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: calc(100% - 4rem);
  margin-inline: auto;
  margin-top: 1rem;
}
.nav-mobile #react-burger-menu-btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  border: solid #fff 1px;
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/*/////////// MOBILE //////////*/
@media (max-width: 1170px) {
  .nav-mobile {
    display: flex;
    align-content: center;
  }
  .header {
    margin: 0 auto;
  }
  .block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .nav-mobile .nav-link:nth-child(n + 1) {
    text-decoration: none;
    color: aliceblue;
    padding: 2.5%;
    border: solid var(--color-blue) 3px;
    white-space: nowrap;
    margin: 0;
  }
  .nav-mobile .nav-link:nth-child(n + 2) {
    border-top: 0;
  }
  .nav-link:nth-child(n + 1):hover {
    background: linear-gradient(transparent, var(--color-blue));
  }
  .nav-link:nth-child(n + 3) {
    border: solid var(--color-blue) 2px;
  }
  .cart {
    text-decoration: none;
    position: relative;
    color: aliceblue;
    padding: 2.5%;
    border-radius: 2rem;
    font-weight: 600;
    font-size: large;
    border: solid var(--color-blue) 3px;
    transition: 0.5s;
  }
  .cart:hover {
    box-shadow: 0px 0px 2rem var(--color-blue);
    background-color: var(--color-blue);
    border: #fff 3px solid;
  }
  /* .cart::after {
    content: attr(data-value);
    display: inline;
    color: #fff;
    font-weight: 600;
    background: var(--color-yellow);
    border-radius: 40%;
    padding: 2px;
  } */
}

@media (max-width: 480px) {
  .nav-mobile {
    flex-direction: column;
  }
}