.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories button {
    color: aliceblue;
    background: none;
    border: none;
    font-size: medium;
    box-sizing: border-box;
    padding: 0 0.5rem;
    margin: 0 0.5rem 0.5rem;
    cursor: pointer;
    transition: .1s;
}
.categories button:focus {
    outline: none;
    background: linear-gradient(to top,var(--color-blue) 10%, transparent 65%);
    border-radius: 0% 0% 8% 8%;
    transform: scale(1.2);
}
.categories button:hover {
    transform: scale(1.2);
}

.categories button::after {
    content: '';
    display: block;
    width: 120%;
    margin-left: -10%;
    margin-top: 0.2rem;
    height: 2px;
    background:  linear-gradient(to right, #fff, var(--color-blue), var(--color-blue), #fff ) 47% 0%;
    border-radius: 100%;
  }