.App {
  text-align: center;
  width: 80vw;
  min-height: 100vh;
  background: #ffffff09;
  position: relative;
  z-index: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  display: flex;
  
  flex-direction: column;
  box-sizing: border-box;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.App main {
  position: relative;
  margin-top: 2rem;
}
.App main::after {
  content: '';
  display: block;
  height: 2px;
  width: 90%;
  margin: 2rem auto;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
}